# Environments
.env
.venv
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.sqlite3

# OS stuff
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# JS
node_modules/
dist/
build/
.next/
.expo/
out/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Media/Static
static/
media/
staticfiles/
