aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiohttp-retry==2.9.1
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.10.0
attrs==26.1.0
cbor2==5.9.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cryptography==46.0.4
dj-database-url==3.1.2
Django==5.2.8
django-cors-headers==4.9.0
djangorestframework==3.16.1
fastapi==0.135.3
frozenlist==1.8.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.2
google-api-python-client==2.188.0
google-auth==2.49.0.dev0
google-auth-httplib2==0.3.0
google-generativeai==0.8.6
googleapis-common-protos==1.72.0
greenlet==3.3.2
grpcio==1.76.0
grpcio-status==1.71.2
grpclib==0.4.9
gunicorn==21.2.0
h2==4.3.0
hpack==4.1.0
httplib2==0.31.2
hyperframe==6.1.0
idna==3.11
inflection==0.5.1
markdown-it-py==4.0.0
mdurl==0.1.2
modal==1.4.1
multidict==6.7.1
numpy==2.4.2
packaging==25.0
pandas==3.0.0
pillow==12.0.0
playwright==1.58.0
propcache==0.4.1
proto-plus==1.27.0
protobuf==5.29.5
psycopg2-binary==2.9.11
pyairtable==3.3.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pyee==13.0.1
Pygments==2.20.0
PyJWT==2.12.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.22
requests==2.32.5
rich==14.3.3
shellingham==1.5.4
six==1.17.0
sqlparse==0.5.3
starlette==1.0.0
synchronicity==0.12.1
toml==0.10.2
tqdm==4.67.1
twilio==9.10.4
typer==0.24.1
types-certifi==2021.10.8.3
types-toml==0.10.8.20240310
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.6.3
watchfiles==1.1.1
whitenoise==6.6.0
yarl==1.23.0
